<hr>
<div class="main">
    <div class="left">
        <h1 style="font-weight: bold;">About Angular Course</h1>
            <button id="foot"><button class="button-os"><a href="#">Enroll Now</a></button></button>
    </div>
    <div class="right">
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/k5E2AVpwsko?si=5J6WXhiTWC9EnMgh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" style="border-radius: 3rem; margin-bottom: 2rem; margin-top: 1rem;" allowfullscreen></iframe>   
        </div>
    </div>
</div>

