
<!-- <div class="main">
    <div class="left">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-bs-wrap="true" data-bs-interval="1000">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/assets/about3.png" class="d-block w-90" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/assets/about1.png" class="d-block w-90" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/assets/about2.png" class="d-block w-80" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="right">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-bs-wrap="true" >
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h1 class="AboutH1">Our Mission:</h1>
            <p class="Aboutp"> our mission is to revolutionize education by providing accessible, high-quality learning experiences. We're committed to empowering individuals worldwide, fostering a culture of continuous learning, and bridging the gap between education and innovation.</p>
          </div>
          <div class="carousel-item">
            <h1 class="AboutH1">Student Success Stories:</h1>
            <p class="Aboutp">Explore the achievements and success stories of our students. From career advancements to mastering new skills, our learners' testimonials showcase the real impact of our courses on their lives, careers, and aspirations.</p>
          </div>
          <div class="carousel-item">
            <h1 class="AboutH1">Our Approach:</h1>
            <p class="Aboutp">Through cutting-edge technology and expert-led content, we offer a flexible learning environment. Our approach combines interactive courses, personalized guidance, and a supportive community, ensuring a dynamic and engaging educational journey for every learner.</p>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
</div>
 -->

 <div class="main">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="3000">
        <div class="photo">
          <img src="/assets/about1.png" class="d-block w-90" alt="...">
        </div>
        <div class="data">
          <h1 class="AboutH1">Our Mission:</h1>
          <p class="Aboutp"> our mission is to revolutionize education by providing accessible, high-quality learning experiences. We're committed to empowering individuals worldwide, fostering a culture of continuous learning, and bridging the gap between education and innovation.</p>
        
        </div>
        
      </div>
      <div class="carousel-item" data-interval="3000">
        <div class="photo">
          <img src="/assets/about2.png" class="d-block w-80" alt="...">
        </div>
        <div class="data">
          <h1 class="AboutH1">Student Success Stories:</h1>
          <p class="Aboutp">Explore the achievements and success stories of our students. From career advancements to mastering new skills, our learners' testimonials showcase the real impact of our courses on their lives, careers, and aspirations.</p>
        
        </div>
        
      </div>

      <div class="carousel-item" data-interval="3000">
        <div class="photo">
          <img src="/assets/about3.png" class="d-block w-90" alt="...">
        </div>
        <div class="data">
          <h1 class="AboutH1">Our Approach:</h1>
          <p class="Aboutp">Through cutting-edge technology and expert-led content, we offer a flexible learning environment. Our approach combines interactive courses, personalized guidance, and a supportive community, ensuring a dynamic and engaging educational journey for every learner.</p>
        
        </div>
        
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
 </div>