<hr>
<div class="main">
    
    <div class="left">
        <h1 style="font-weight: bold;">About Javascript Course</h1>
            <button id="foot"><button class="button-os"><a href="#">Enroll Now</a></button></button>
    </div>
    <div class="right">
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/W6NZfCO5SIk?si=FGpg8sAwz-Tfmn7I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="border-radius: 3rem; margin-bottom: 2rem; margin-top: 1rem;"></iframe>
        </div>
    </div>
</div>
