
<div class="main">
    <div class="left">
        <img src="/assets/aboutimg.gif" alt="" id="homeimage">
    </div>
    <div class="right">
        <div class="points">
            <div class="icon">
                <img src="/assets/online.png" alt="">
            </div>
            <div class="mention">
                <h4 class="pointsheading"> 
                    Online Degree
                </h4>
                <p class="pointspara">
                    Empower your future with accredited online degree programs tailored to fit your schedule and career goals, bridging the gap between quality education and flexibility.   
                </p>
            </div>
        </div>

        <div class="points">
            <div class="icon">
                <img src="/assets/certificate.png" alt="">
            </div>
            <div class="mention">
                <h4 class="pointsheading"> 
                    Certification
                </h4>
                <p class="pointspara">
                    Elevate your expertise with industry-recognized certifications, meticulously curated to enhance your skills and credibility in diverse fields, opening doors to new opportunities.</p>
            </div>
        </div>

        <div class="points">
            <div class="icon">
                <img src="/assets/support.png" alt="">
            </div>
            <div class="mention">
                <h4 class="pointsheading"> 
                    24x7 Support
                </h4>
                <p class="pointspara">
                    Get uninterrupted guidance and assistance with our dedicated 24x7 support team, ensuring a seamless learning experience whenever you need it, day or night.</p>
            </div>
        </div>
        
        </div>
</div>

