
<div class="main">
    <div class="left">
        <h1 id="headinghome">Take Your Learning <br> To The Next Level </h1>
        <p id="aboutpara">
            Dive into a world of knowledge curated by industry experts and professionals who bring real-world experience into every lesson. Our courses cover a wide spectrum of topics, from technology and business to arts and sciences, ensuring there's something for everyone.
        </p>
    </div>
    <div class="right">
        <img src="/assets/homeimg3.png" alt="" id="homeimage">
        </div>
</div>
